html {
  height: 100%;
  font-family: 'Aldrich', sans-serif;
  /*font-family: 'Iceland', sans-serif;*/
  /*font-family: 'Sarpanch', sans-serif;*/
}
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*****************************************************************************/
/* Common - BEGIN */
/*****************************************************************************/
.header {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px 0;
}

/* Extra Small */

/* Small (phone - landscape) */
@media screen and ( min-width: 576px ) {
  .header {
    font-size: 28px;
  }
}

/* Medium (tablet) */
@media screen and ( min-width: 768px ) {
  .header {
    font-size: 30px;
  }
}

/* Large (laptop) */
@media screen and ( min-width: 992px ) {
  .header {
    font-size: 36px;
  }
}

/* Extra Large (desktop) */
@media screen and ( min-width: 1200px ) {
  .header {
    font-size: 36px;
  }
}

hr {
  width: 80%;
  height: 3px;
  border: none;
  color: #ccc;
  background-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*****************************************************************************/
/* Common - END */
/*****************************************************************************/

/*****************************************************************************/
/* Nav - BEGIN */
/*****************************************************************************/
.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
.nav-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Extra Small */
.nav-home-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.nav-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.nav-link {
  padding: 10px;
}

/* Small (phone - landscape) */
@media screen and ( min-width: 576px ) {
  .nav-home-wrapper {
    font-size: 20px;
    margin-left: 10px;
  }
  .nav-links-wrapper {
    font-size: 14px;
    margin-right: 10px;
  }
}

/* Medium (tablet), Large (laptop), Extra Large (desktop) */
@media screen and ( min-width: 768px ) {
  .nav-home-wrapper {
    font-size: 24px;
    margin-left: 20px;
  }
  .nav-links-wrapper {
    font-size: 18px;
    margin-right: 20px;
  }
}
/*****************************************************************************/
/* Nav - END */
/*****************************************************************************/

/*****************************************************************************/
/* Splash - BEGIN */
/*****************************************************************************/
/* Extra Small */
#splash {
  display: block;
  /*height: 100%;*/
  width: 100%;

  height: 100vh;
  /*height: 90vh;*/
  /*height: 80:*/

  /*background-image: url("../img/test_01.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/

  background-image: url("../img/test_04.png");
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin-top: -50 for dynamic sticky nav */
  /*margin-top: -50px;*/
  margin-bottom: 40px;
  padding: 0;
}
.name {
  text-align: center;
  font-size: 24px;
  padding-top: 25%;
  letter-spacing: 5px;
  color: white;
}
.title {
  text-align: center;
  font-size: 12px;
  letter-spacing: 5px;
  color: white;
}
.tag-line-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 12px;
  color: white;
}

/* Small (phone - landscape) */
@media screen and ( min-width: 576px ) {
  /*#splash {*/
    /*background-image: url("../img/bg_576.png");*/
  /*}*/
  .name {
    font-size: 40px;
    letter-spacing: 10px;
    padding-top: 15%;
  }
  .title {
    font-size: 17px;
    letter-spacing: 5px;
    color: white;
  }
  .tag-line-wrapper {
    position: absolute;
    bottom: 5%;
    left: 55%;
    font-size: 17px;
  }
}

/* Medium (tablet) */
@media screen and ( min-width: 768px ) {
  /*#splash {*/
    /*background-image: url("../img/bg_768.png");*/
  /*}*/
  .name {
    font-size: 54px;
    letter-spacing: 10px;
    padding-top: 15%;
  }
  .title {
    font-size: 23px;
    letter-spacing: 5px;
  }
  .tag-line-wrapper {
    position: absolute;
    bottom: 5%;
    left: 55%;
    font-size: 23px;
  }
}

/* Large (laptop), Extra Large (desktop) */
@media screen and ( min-width: 992px ) {
  /*#splash {*/
    /*background-image: url("../img/bg_1600.png");*/
  /*}*/
  .name {
    font-size: 70px;
    letter-spacing: 10px;
    padding-top: 10%;
  }
  .title {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .tag-line-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 30px;
  }

}
/*****************************************************************************/
/* Splash - END */
/*****************************************************************************/


/*****************************************************************************/
/* About - BEGIN */
/*****************************************************************************/
/* Extra Small */
#about {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#about .content-wrapper {
  display: flex;
  flex-direction: column;
}
#about .about-item {
  margin-bottom: 20px;
  visibility: hidden;
}
#about .about-item.visible {
  visibility: visible;
}
#about .about-item.even {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
}
#about .about-item.odd {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
#about .about-item span {
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}
#about .about-item.even span {
  margin-left: 10px;
}
#about .about-item.odd span{
  margin-right: 10px;
}
#about img {
  height: 20px;
}

/* Small (phone - landscape) */
@media screen and ( min-width: 576px ) {
  #about {
    font-size: 20px;
  }
  #about .about-item span {
    line-height: 30px;
  }
  #about img {
    height: 30px;
  }
}

/* Medium (tablet) */
@media screen and ( min-width: 768px ) {
  #about {
    font-size: 24px;
  }
  #about .about-item span {
    line-height: 36px;
  }
  #about img {
    height: 36px;
  }
}

/* Large (laptop) */
@media screen and ( min-width: 992px ) {
  #about {
    font-size: 26px;
  }
  #about .about-item span {
    line-height: 40px;
  }
  #about img {
    height: 40px;
  }
}

/*****************************************************************************/
/* About - END */
/*****************************************************************************/


/*****************************************************************************/
/* Projects - BEGIN */
/*****************************************************************************/
#projects .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects article {
  margin-bottom: 30px;
}
.card {
  position: relative;
  height: 100%;
  width: 100%;
}
/* overlay - production - BEGIN */
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
  padding: 20px;
}
.card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .65);
}
/* overlay - production - END */

.overlay .content {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.challenge-wrapper {
  margin-bottom: 10px;
}

/* Extra Small - BEGIN */
#projects img {
  display: block;
  width: 300px;
}
.overlay h2 {
  font-size: 12px;
}
/* hide Overlay Content in Extra Small, Small, and Medium */
.overlay .content {
  display: none;
}
.overlay .links {
  position: absolute;
  bottom: 8%;
  text-align: center;
  left: 0;
  right: 0;
}
.overlay a {
  font-size: 0.7em;
  outline: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
}
.overlay a:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
  background-color: limegreen;
}
/* Extra Small - END */


/* Small (phone - landscape) */
@media screen and ( min-width: 576px ) {

  /* common to Small, Medium, Large, Extra Large - BEGIN */
  .overlay h2,
  .overlay .content {
    display: block;
  }
  .why-wrapper {
    margin-bottom: 10px;
  }
  .stack-wrapper {
    margin-bottom: 10px;
  }
  .overlay h3,
  .overlay ul,
  .overlay p {
    margin: 0;
  }
  .fa-check {
    color: lawngreen;
  }
  .overlay .links {
    position: absolute;
    bottom: 8%;
    text-align: center;
    left: 0;
    right: 0;
  }
  .overlay a {
    font-size: 1.1em;
    outline: none;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-right: 10px;
  }
  .overlay a:hover {
    cursor: pointer;
    font-weight: bold;
    color: black;
    background-color: limegreen;
  }
  /* common to Small, Medium, Large, Extra Large - END */

  #projects img {
    width: 500px;
  }
  .overlay h2 {
    font-size: 1.2em;
  }
  .overlay .why-wrapper {
    display: none;
  }
  .overlay a {
    font-size: 1em;
  }
  .overlay p {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 10px;
  }
}

/* Medium (tablet) */
@media screen and ( min-width: 768px ) {
  #projects img {
    width: 614px;
  }
  .overlay h2 {
    font-size: 1.5em;
  }
  .overlay .why-wrapper {
    display: block;
  }
  #card-1 .why-wrapper {
    display: none;
  }
  .overlay p {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 10px;
  }
}

/* Large (laptop) */
@media screen and ( min-width: 992px ) {
  #projects img {
    width: 100%;
  }
  .overlay h2 {
    font-size: 1.5em;
  }
  .overlay .why-wrapper {
    display: block;
  }
  #card-1 .why-wrapper {
    display: block;
  }
  .overlay p {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 10px;
  }
}

/* Extra Large (desktop) */
@media screen and ( min-width: 1200px ) {
  #projects img {
    width: 100%;
  }
  .overlay h2 {
    font-size: 1.5em;
  }
  .overlay .why-wrapper {
    display: block;
  }
  #card-1 .why-wrapper {
    display: block;
  }
  .overlay p {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 10px;
  }
}
/*****************************************************************************/
/* Projects - END */
/*****************************************************************************/

/*****************************************************************************/
/* Connect - BEGIN */
/*****************************************************************************/
#connect .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
#connect .icons-wrapper {
  display: flex;
}
#connect .icon-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}
#connect .icon {
  font-size: 50px;
  cursor: pointer;
  color: black;
  transition: transform 0.4s ease;
}
#connect .icon:hover {
  transform: scale(1.15, 1.15);
}
#connect .icon.github:hover {
  color: #4078c0;
}
#connect .icon.linkedin:hover {
  color: #0077B5;
}
#connect .icon.email:hover {
  /*color: #F5BE4E;*/
  color: #F4A73B;
}
/*****************************************************************************/
/* Connect - END */
/*****************************************************************************/
